version: "3.4"

x-logging: &default-logging
  driver: "json-file"
  options:
    max-size: "10m"
    max-file: "3"

services:
  frontend:
    image: lblod/frontend-worship-organizations:1.2.5
    volumes:
      - ./config/frontend/add-x-frame-options-header.conf:/config/add-x-frame-options.conf
    environment:
      EMBER_OAUTH_API_KEY: "6f627f55-4e77-4509-ac8e-04d2d9e78076"
      EMBER_OAUTH_API_SCOPE: "openid vo profile rrn abb_orgcontactgegevens"
      EMBER_OAUTH_API_BASE_URL: "https://authenticatie-ti.vlaanderen.be/op/v1/auth"
      EMBER_OAUTH_API_LOGOUT_URL: "https://authenticatie-ti.vlaanderen.be/op/v1/logout"
      EMBER_OAUTH_API_REDIRECT_URL: "https://organisaties.lokaalbestuur.lblod.info/authorization/callback"
      EMBER_OAUTH_SWITCH_URL: "https://organisaties.lokaalbestuur.lblod.info/switch-login"
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  frontend-dashboard:
    image: lblod/frontend-dashboard:1.10.0
    environment:
      EMBER_LOGIN_ROUTE: "acmidm-login"
      EMBER_DISABLE_ERRORS: "true"
      EMBER_ACMIDM_CLIENT_ID: "<CLIENT_ID>"
      EMBER_ACMIDM_BASE_URL: "<BASE_URL>"
      EMBER_ACMIDM_REDIRECT_URL: "<REDIRECT_URL>"
      EMBER_ACMIDM_LOGOUT_URL: "<LOGOUT_URL>"
      EMBER_ACMIDM_SCOPE: "openid rrn profile vo abb_orgcontactgegevens"
      EMBER_ENGLISH_ACCOUNTS_MODEL: true
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  identifier:
    image: semtech/mu-identifier:1.10.3
    environment:
      DEFAULT_MU_AUTH_ALLOWED_GROUPS_HEADER: '[{"variables":[],"name":"public"}]'
      SESSION_COOKIE_SECURE: "on"
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  dispatcher:
    image: semtech/mu-dispatcher:2.1.0-beta.2
    volumes:
      - ./config/dispatcher/dispatcher-prod.ex:/config/dispatcher.ex
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  login-dashboard:
    image: lblod/acmidm-login-service:0.12.0
    environment:
      LOG_SINK_URL: "http://sink"
      MU_APPLICATION_AUTH_ROLE_CLAIM: "abb_orgcontactgegevens_rol_3d"
      MU_APPLICATION_AUTH_DISCOVERY_URL: "<ACM_IDM_AUTH_DISCOVERY_URL>"
      MU_APPLICATION_AUTH_CLIENT_ID: "<ACM_IDM_AUTH_CLIENT_ID>"
      MU_APPLICATION_AUTH_REDIRECT_URI: "<ACMIDM_AUTH_REDIRECT_URI>"
      MU_APPLICATION_AUTH_CLIENT_SECRET: "<ACMIDM_AUTH_CLIENT_SECRET>"
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
    links:
      - db:database
  triplestore:
    image: redpencil/virtuoso:1.3.0-rc.1
    environment:
      SPARQL_UPDATE: "true"
      DEFAULT_GRAPH: "http://mu.semte.ch/application"
    volumes:
      - ./data/db:/data
      - ./config/db/virtuoso.ini:/data/virtuoso.ini
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  db:
    image: semtech/mu-authorization:feature-service-roam-r1.1
    environment:
      MU_SPARQL_ENDPOINT: "http://triplestore:8890/sparql"
      ERROR_ON_UNWRITTEN_DATA: "true"
    volumes:
      - ./config/authorization:/config
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  migrations:
    image: semtech/mu-migrations-service:0.9.0
    links:
      - triplestore:database
    volumes:
      - ./config/migrations:/data/migrations
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  resource:
    image: semtech/mu-cl-resources:1.26.0
    environment:
      CACHE_CLEAR_PATH: "http://cache/.mu/clear-keys"
    links:
      - db:database
    volumes:
      - ./config/resources:/config
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  cache:
    image: semtech/mu-cache:2.0.2
    links:
      - resource:backend
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  deltanotifier:
    image: semtech/mu-delta-notifier:0.4.0
    volumes:
      - ./config/delta:/config
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  sink:
    image: nginx:1.25.1
    volumes:
      - ./config/sink/sink.conf:/etc/nginx/conf.d/default.conf
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  login:
    image: lblod/acmidm-login-service:0.9.2
    environment:
      MU_APPLICATION_AUTH_REDIRECT_URI: "https://organisaties.lokaalbestuur.lblod.info/authorization/callback"
      MU_APPLICATION_AUTH_DISCOVERY_URL: "https://authenticatie-ti.vlaanderen.be/op"
      MU_APPLICATION_AUTH_CLIENT_ID: "6f627f55-4e77-4509-ac8e-04d2d9e78076"
      MU_APPLICATION_AUTH_CLIENT_SECRET: "secret"
      MU_APPLICATION_AUTH_ROLE_CLAIM: "abb_orgcontactgegevens_rol_3d"
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
    links:
      - db:database
  accountdetail:
    image: lblod/account-detail-service:0.1.0
    labels:
      - "logging=true"
    environment:
      MU_APPLICATION_GRAPH: "http://mu.semte.ch/graphs/worship-organizations/accounts"
    links:
      - db:database
    restart: always
    logging: *default-logging
  uri-info:
    image: redpencil/mu-uri-info-service:0.2.1
    links:
      - db:database
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  file:
    image: semtech/mu-file-service:3.4.0
    volumes:
      - ./data/files:/share
    labels:
      - "logging=true"
    links:
      - db:database
    restart: always
    logging: *default-logging
  error-report-service:
    image: lblod/error-report-service:0.1.0
    links:
      - db:database
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  privacy:
    image: lblod/wop-privacy-centric-service:0.1.2
    environment:
      SESSION_GRAPH: "http://mu.semte.ch/graphs/sessions"
    links:
      - db:database
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  positions-dispatcher:
    image: lblod/worship-positions-graph-dispatcher-service:1.1.1
    environment:
      DIRECT_DATABASE_ENDPOINT: "http://triplestore:8890/sparql"
    links:
      - db:database
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  update-bestuurseenheid-mock-login:
    image: lblod/update-bestuurseenheid-mock-login-service:0.5.0
    environment:
      RUN_CRON_ON_START: "true"
    volumes:
      - ./config/mock-login:/config
    links:
      - db:database
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  report-generation:
    image: lblod/loket-report-generation-service:0.8.3
    environment:
      DEFAULT_GRAPH: "http://mu.semte.ch/graphs/reports"
      ONLY_KEEP_LATEST_REPORT: "true"
    links:
      - db:database
    volumes:
      - ./data/files:/share
      - ./config/reports:/config
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  download-exports:
    image: lblod/download-exports-service:0.1.0
    links:
      - db:database
    volumes:
      - ./data/files:/share
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  ################################################################################
  # DELTAS
  ################################################################################
  worship-services-sensitive-consumer:
    image: lblod/delta-consumer:0.1.4
    environment:
      DCR_SERVICE_NAME: "worship-services-sensitive-consumer"
      DCR_SYNC_BASE_URL: "https://loket.lblod.info/"
      DCR_SYNC_LOGIN_ENDPOINT: "https://loket.lblod.info/sync/worship-services-sensitive/login"
      DCR_SECRET_KEY: "<override with secret key>"
      DCR_SYNC_FILES_PATH: "/sync/worship-services-sensitive/files"
      DCR_SYNC_DATASET_SUBJECT: "http://data.lblod.info/datasets/delta-producer/dumps/WorshipServicesSensitiveCacheGraphDump"
      DCR_INITIAL_SYNC_JOB_OPERATION: "http://redpencil.data.gift/id/jobs/concept/JobOperation/deltas/consumer/wsSensitive"
      DCR_DELTA_SYNC_JOB_OPERATION: "http://redpencil.data.gift/id/jobs/concept/JobOperation/deltas/consumer/wsSensitiveDeltaFileSyncing"
      DCR_JOB_CREATOR_URI: "http://data.lblod.info/services/id/worship-services-sensitive-consumer"
      DCR_DISABLE_INITIAL_SYNC: "true"
      DCR_KEEP_DELTA_FILES: "true"
      DCR_DELTA_FILE_FOLDER: "/consumer-files"
      DCR_DELTA_JOBS_RETENTION_PERIOD: "30"
      DCR_ENABLE_TRIPLE_REMAPPING: "true"
      DCR_LANDING_ZONE_GRAPH: "http://mu.semte.ch/graphs/landing-zone/worship-services-sensitive"
      DCR_REMAPPING_GRAPH: "http://mu.semte.ch/graphs/ingest"
      DCR_BATCH_SIZE: 1000
      SUDO_QUERY_RETRY_FOR_HTTP_STATUS_CODES: "404,500,503"
      SUDO_QUERY_RETRY: "true"
    volumes:
      - ./config/delta-consumers/worship-services-sensitive/mapping:/config/mapping
      - ./data/files/consumer-files/worship-services-sensitive:/consumer-files/
    links:
      - db:database
      - triplestore:virtuoso
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  worship-posts-consumer:
    image: lblod/delta-consumer:0.1.4
    environment:
      DCR_SERVICE_NAME: "worship-posts-consumer"
      DCR_SYNC_BASE_URL: "https://organisaties.abb.lblod.info/"
      DCR_SYNC_FILES_PATH: "/sync/worship-posts/files"
      DCR_SYNC_DATASET_SUBJECT: "http://data.lblod.info/datasets/delta-producer/dumps/WorshipPostsCacheGraphDump"
      DCR_INITIAL_SYNC_JOB_OPERATION: "http://redpencil.data.gift/id/jobs/concept/JobOperation/deltas/consumer/worshipPosts"
      DCR_DELTA_SYNC_JOB_OPERATION: "http://redpencil.data.gift/id/jobs/concept/JobOperation/deltas/consumer/worshipPostsDeltaFileSyncing"
      DCR_JOB_CREATOR_URI: "http://data.lblod.info/services/id/worship-posts-consumer"
      DCR_DISABLE_INITIAL_SYNC: "true"
      DCR_KEEP_DELTA_FILES: "true"
      DCR_DELTA_FILE_FOLDER: "/consumer-files"
      DCR_DELTA_JOBS_RETENTION_PERIOD: "30"
      DCR_ENABLE_TRIPLE_REMAPPING: "true"
      DCR_LANDING_ZONE_GRAPH: "http://mu.semte.ch/graphs/landing-zone/worship-posts"
      DCR_REMAPPING_GRAPH: "http://mu.semte.ch/graphs/ingest"
      DCR_BATCH_SIZE: 1000
      SUDO_QUERY_RETRY_FOR_HTTP_STATUS_CODES: "404,500,503"
      SUDO_QUERY_RETRY: "true"
    volumes:
      - ./config/delta-consumers/worship-posts/mapping:/config/mapping
      - ./data/files/consumer-files/worship-posts:/consumer-files/
    links:
      - db:database
      - triplestore:virtuoso
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
